.navbar-brand img{
    height: 50px;
}

nav{
    background-color:#e83e8c ;
}

.fondo{
    background: #17A2B8;
    color: white;
    padding: 50px;
}

footer{
    background-color: #e83e8c;
    
}


footer img{
    height: 150px;
    background-color: #e83e8c;
    padding: 50px;
    text-align: center;
}

.celeste{
    display: flex;
    background-color: #17A2B8;
}
